toml
twilio
beautifulsoup4
requests

# The latest has not yet been published, and this version includes a fix for decrypting cookies
# on Windows with Chrome 80+
https://github.com/richardpenman/browsercookie/archive/864474403610fd15ff576615a6e0d603c7263f6e.zip